<table class='table table-hover table-striped'>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.logo, :style=> 'height:150px' %></td>
        <td><%= item.title %></td>
        <td><%= item.introduction %></td>
        <td><%= link_to '点赞！', '' %></td>
      </tr>
    <% end %>
  </tbody>
</table>


