<title>
  智人巨变站
</title>
    <table>
      <tr>
        <td>
          <!-- 左侧的两个图片 -->
          <table>
            <tr>
              <td><%= image_tag @landing_pictures[0].try(:logo).try(:url), style: 'height: 50%'  %></td>
            </tr>
            <tr>
              <td><%= image_tag @landing_pictures[1].try(:logo).try(:url), style: 'height: 50%'  %></td>
            </tr>
          </table>
        </td>
        <td>
          <!-- 右侧的两个图片 -->
          <table>
            <tr>
              <td><%= image_tag @landing_pictures[2].try(:logo).try(:url), style: 'height: 50%'  %></td>
            </tr>
            <tr>
              <td><%= image_tag @landing_pictures[3].try(:logo).try(:url), style: 'height: 50%'  %></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
